.search {
  -webkit-appearance: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  border: 1px solid rgb(219, 206, 206);
  border-radius: 5px;
  color: rgb(77, 75, 75);
  font-size: 16px;
}
